<div class="container">
<h1 class="page-title"><%= titre %></h1>

    <form action="/tickets/save" class="form" method="post">
      <input type="hidden" name="ticket" form-control <%= typeof errors !== 'undefined' && errors.length > 0 ? 'is-invalid': '' %>" value="<%= typeof ticket !== 'undefined' ? ticket : '' %>" />
        <label for="titre">Titre <span class="required">*</span></label>
    <input
    type="text"
    id="titre"
    name="titre"
    value="<%= ticket?.titre %>"
    class="form-input"
    required
    placeholder="Entrez le titre du ticket"
  />

  <label for="description">Description <span class="required">*</span></label>
  <textarea
    id="description"
    name="description"    
    class="form-textarea"
    placeholder="Sujet"
    minlength="3"><%= ticket?.description %></textarea>

  <button type="submit" class="form-btn">Valider</button>
</form>
</div>