<div class="container">
    <p>Tickets</p>
    <ul>
        <% if (tickets.length === 0) { %>
            <li>Aucun ticket pour l'instant.</li>
        <% } else { %>
            <% tickets.forEach((ticket) => { %>
                <li><strong><%= ticket.titre %></strong> - par <%= ticket.auteur %></li>
            <% }) %>
        <% } %>
    </ul>

<h2>Demander un ticket</h2>

<form method="post" action="/tickets">
    <div class="mb-3">
        <label for="titre" class="form-label">Titre</label>
        <input type="hidden" class="form-control" id="titre" name="titre" value="<%= ticket?.id %>" />
        <label for="titre" class="form-label">Titre</label>
        <input type="text" class="form-control" id="titre" name="titre" value="<%= ticket?.titre %>" />
    </div>
    <div class="mb-3">
        <label for="auteur" class="form-label">Auteur</label>
        <input type="text" class="form-control" id="auteur" name="auteur"/>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" minlength="3" <%= ticket?.description %> ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer ma demande</button>
</form>
</div>